[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = false

[dev-packages]

[packages]
pandas = "*"
flask = "*"
flask-bootstrap = "*"
flask-wtf = "*"
requests = "*"

[requires]
python_version = "3.6"
