/*Navigation Bar - background colour and hover colour*/
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #F0F8FF !important;
    color: #1E90FF !important;
}

/* Font colour of the link */
.navbar-default .navbar-nav>li>a {
    color: #F0F8FF !important;
}

.navbar-default{
    font-weight: bold;
    background-color: #1E90FF;
}

.btn-default {
    color: #1E90FF;
    background-color: #1E90FF;
}